
body{
    margin: auto;
}
.homeprincipal {
    display: flex;
    flex-direction: row;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #00000080;}

.principal{
    position: fixed;
    right: 0;
    width: 80%;
    height: 100%;
}
.sidebar p a {
    color: white
}


.imageBase{
    width: 98%;
    height: 10em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
}
.homeprincipal .sidebar p a{
    text-decoration: none;
    margin-right: 10px;
}

.hospitalisation{
    margin-bottom: 20;
}

.appTitle{
    color:white;
    margin: 0;
    padding-left:10px ;
    background-color: #4350C3;
}

.discount{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.headPage{
    width: 100%;
    height: 19px;
    background-color: #4350C3;
    margin-top: 0;
}

.headPage span{
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: white;
}

.links p a:hover{
    text-decoration: underline;
}

details{
    color: white;
    display: flex;
    flex-direction: row;
}
details a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
details a:hover{
    text-decoration: underline;
}

.links{
    margin-left: 10px;
}

.principal{
    margin-left: 5px;
}

.gagelabTitle{
    font-weight: bold; 
    text-align: center;
    color: #1F31D2;
    width: 120px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 20%;
}

.imageHome{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.HomePrincipal{
    margin: auto;
    width: 40%;
}
.welcome{
    margin-left: 80px;
    margin-top: 10px;
}