.ConnexionPage{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 400em;
}

.imageGajelab img{
    margin-top: 180px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.GajelabTitle{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 200px;
    margin-left: 60px;
}

h2{
    font-size: 30px;
    text-align: center;
}
.errorlist li {
    list-style-type: none;
}
.errorlist li{
    text-decoration: none;
    font-size: 7px;
    font-weight: bold;
    color: rgb(178, 80, 80);
    width: 280px;
}

.formLogin .boutonLogin{
    color: white;
    background-color: #4350C3;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.formLogin .boutonLogin:hover{
    background-color: #00000080;
}
.formLogin p input{
    width: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

/* ============================== */
/* ordonnance */
.formOrdonnance,h3{
    margin-left: 10px;
    width: 80%;
    margin: auto;
}
.boutonOrdonnance{
    background-color: #4350C3;
    border-radius: 5px;
    color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.boutonOrdonnance:hover{
    background-color:#00000080;
}

h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.formOrdonnance p label{
    font-weight: bold;
}

.formOrdonnance p select{
    width: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
/* =============== Rapport medical form =================== */
.formOrdonnance p input {
    width: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}