.password_change{
    margin: auto;
    width: 80%;
    margin-left: 120px;
}

.headPasswordCh{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.password_change p label{
    font-weight: bold;
    font-size: 15px;
    width: 100px;
}
.password_change ul li{
    font-size: 10px;
    color: rgb(178, 80, 80);
    list-style-type: decimal;
}
.password_change ul{
    margin: 0px;
}
.boutonPasswordVal{
    color:white;
    background-color: #4350C3;
    border-color: white;
    border-radius: 5px;
}
.boutonPasswordVal:hover{
    background-color: #00000080;
}

.password_change p input{
    border-radius: 5px;
}
.password_change{
    opacity: 0.1px;
}