{% extends 'base.html' %}
{% block content %}
<p class="headPage"><span>Vous etes connecte en tant que {{user.username}}</span></p>
<h1 class="DateRapport">Dossiers médicals</h1>
<div style="overflow: auto; height: 400px;">
    {% for dossier in dossiers %}
    
    <div class="listeRapport">
        <div class="elementRapport"><strong>Type de rapport</strong><span>{{ dossier.type_rapport }}</span></div>
        <div class="elementRapport"><strong>Date de création</strong><span>{{ dossier.date_creation }}</span></div>
        <span>
            <a href="{% url 'rapport_medical' dossier.id %}">Rapports medicals</a>
        </span>
        <span>
            <a href="{% url 'creer_rapport_medical' dossier.id %}"> Ajouter un rapport medical
            </a>
        </span>
    </div>
    <div class="DateRapport" style="border-top: 1px solid #0e0c0c;"></div>
    {% endfor %}
</div>


{% endblock %}