{% extends 'base.html' %}
{% block content %}
<p class="headPage"><span>Vous etes connecte en tant que {{user.username}}</span></p>

<p class="imagePatient_add">
    <strong>Medecins</strong>
</p>
<div class="list_patient_scroll">
    <div class="content_patient_list" style="overflow: auto; height: 400px;">
        {% for medecin in medecins %}
        <div class="info_link_patient">
            <div class="infoPatient">
                <div class="patien_list"><span class="label">Nom </span><span>{{ medecin.first_name }}</span></div>
                <div class="patien_list"><span class="label">Prenom </span><span>{{medecin.last_name}}</span></div>
                <div class="patien_list"><span class="label">Date de naissance
                    </span><span>{{medecin.date_naissance}}</span></div>
                <div class="patien_list"><span class="label">Sex</span><span> {{ medecin.sex }}</span></div>
            </div>
            <div class="linkPatient">
                <span>
                    <a class="dossierM" href=""> notifier </a>
                </span>
                <span>
                    <a class="dossierM" href=""> prendre rendezvous</a>
                </span>
            </div>
        </div>
        <div style="border-top: 1px solid #0e0c0c;"></div>
        {% endfor %}
    </div>
</div>


{% endblock %}