{% extends 'base.html' %}
{% block content %}
<p class="headPage"><span>Vous etes connecte en tant que {{user.username}}</span></p>
{% for rapport in rapports %}
<h1>Rapport medical du {{ rapport.date_consultation }}</h1>
<ul>
    <li><strong>motif de la consultation :</strong> {{ rapport.motif_consultation }}</li>
    <li><strong>traitement prescrit :</strong> {{ rapport.traitement_prescrit }}</li>
    <li><strong>recommandation : </strong> {{ rapport.recommandation }}</li>
    <li><strong>Medecin traitant : </strong>{{ rapport.medecin }}</li>
    <li><strong>mise a jour le </strong> {{ rapport.date_modification }}</li>
    <div style="border-top: 1px solid #0e0c0c;"></div>
</ul>
{% endfor %}

{% endblock %}