{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="ConnexionPage">
    <div class="formConnexion">
        <p class="GajelabTitle">Medical Record Gajelabs</p>
        <h2 >Connexion</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Se connecter</button>
        </form>
    </div>
    <div class="imageGajelab">
        <img src="{% static 'images/gajelab.jpeg'%}" alt="">
    </div>
</div>
{% endblock content %}
