{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> medical record </title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
        <p><a href="{% url 'password_change' %}">changer le mot de passe</a></p>
    {% endif %}
</body>
</html>