{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> medical record </title>
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <link rel="stylesheet" href="{% static 'homepage.css'%}">
    <link rel="stylesheet" href="{% static 'patient_list.css'%}">
    <link rel="stylesheet" href="{% static 'patient_hospitalise.css' %}">
    <link rel="stylesheet" href="{% static 'inscription.css' %}">
    <link rel="stylesheet" href="{% static 'password_change.css' %}">
</head>
<body>
    <div class="homeprincipal">
        <div class="sidebar">
            <p class="appTitle">Medical Record Gajelabs</p>
            <img class="imageBase" src="{% static 'images/gajelab.jpeg'%}" alt="">
            {% if user.is_authenticated %}
            
            <div class="links">
                <p>
                    <a href="{% url 'home' %}">Acceuil</a>
                </p>
                <p><details>
                    <summary>Patients</summary>
                    <a href="{% url 'patient_list' %}">Liste patient</a>
                    {% if perms.authentication.add_user %}
                    <a class="addPatient" href="{% url 'signup' %}">Ajouter patient<a>
                    {% endif %}
                    <a class="hospitalisation" href="{% url 'list_patient_hospitalise' %}">hospitalisation</a>
                    </details>
                </p>
                <p>
                <details>
                    <summary>Medecins</summary>
                    <a href="{% url 'liste_medecins' %}">Liste Medecins</a>
                    {% if perms.authentication.add_user %}
                    <a class="addPatient" href="{% url 'signup' %}">Ajouter Medecins<a>
                    {% endif %}
                </details>
                </p>
                <p>
                    <a href="{% url 'password_change' %}">changer le mot de passe</a>
                </p>
                <p>
                    <a class="discount" href="{% url 'logout' %}">Se déconnecter</a>
                </p>
            </div>
            {% endif %}
        </div>
        <div class="principal">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>